@charset "UTF-8";
body {
  background-color: #333;
}

#wrap {
  display: grid;
  grid-template: repeat(7)/1fr;
}

a.btn {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 0;
  padding: 5px 40px;
  margin: 30px auto 0;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-weight: 600;
  background: linear-gradient(45deg, #a441b1 0%, #00aebb 100%);
  border-radius: 40px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}

a.btn:hover {
  background: linear-gradient(45deg, #7a1a86 0%, #00a7b3 100%);
}

.flex, section.class .container .cl_slide, section.content_bar .container, footer .ft_container {
  display: flex;
  justify-content: space-between;
}

.bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

h2 {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0.2;
  }
}

header {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 70px;
  background-color: #fff;
}

header .hd_container {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1080px;
  height: 70px;
  margin: 0 auto;
}

header .hd_container > h1.logo a {
  display: block;
  width: 200px;
  height: 70px;
  text-align: center;
  text-indent: -9999px;
  line-height: 70px;
  background-position: center center;
  background-image: url(./../images/logo_row.png);
  background-size: contain;
  background-repeat: no-repeat;
}

header .hd_container div {
  display: flex;
  align-items: center;
  height: 70px;
}

header .hd_container div a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

header .hd_container nav {
  width: 50px;
  height: 70px;
}

header .hd_container nav > a.hamber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 10px 0;
}

header .hd_container nav > a.hamber.on div {
  background-color: transparent;
}

header .hd_container nav > a.hamber.on div::before {
  transform: translateY(10px) rotate(45deg);
}

header .hd_container nav > a.hamber.on div::after {
  transform: translateY(-10px) rotate(-45deg);
}

header .hd_container nav > a.hamber > div {
  display: block;
  width: 65%;
  height: 3px;
  margin: 0 auto;
  background-color: #222;
  transition: 0.5s;
}

header .hd_container nav > a.hamber > div::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: -10px;
  background-color: #222;
  transition: 0.5s;
}

header .hd_container nav > a.hamber > div::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 17px;
  background-color: #222;
  transition: 0.5s;
}

header .hd_container nav > .gnb {
  position: absolute;
  right: -100vw;
  width: 250px;
  height: 350px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

header .hd_container nav > .gnb li:nth-of-type(1) {
  display: flex;
  justify-content: right;
}

header .hd_container nav > .gnb li:nth-of-type(1) > a.mypage {
  width: 60px;
  padding: 30px 0;
  color: #777;
  font-size: 1.2rem;
  text-align: right;
  border-bottom: none;
}

header .hd_container nav > .gnb li:nth-of-type(1) > a.mypage.mypage:hover {
  color: #333;
  font-weight: 600;
  border-bottom: none;
}

header .hd_container nav > .gnb li a {
  display: block;
  width: 100%;
  height: 5px;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 0;
  border-bottom: 2px solid #535353;
  box-sizing: border-box;
}

header .hd_container nav > .gnb li:hover a {
  color: #692a81;
  font-weight: 600;
  border-bottom: 2px solid #692a81;
}

header .hd_container nav > .gnb li .lnb {
  display: none;
}

header .hd_container nav > .gnb li .lnb li a {
  display: block;
  color: #222;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0;
  border-bottom: none;
}

header .hd_container nav > .gnb li .lnb li a:hover {
  color: #692a81;
  font-weight: 600;
}

section.banner {
  width: 100vw;
  height: 600px;
  padding-top: 70px;
  background-color: #222;
}

section.banner .container {
  width: 1080px;
  height: 500px;
  margin: 0 auto;
}

section.class .container {
  overflow: hidden;
  width: 1080px;
  height: 800px;
  margin: 0 auto;
}

section.class .container .tit {
  position: relative;
  padding-top: 100px;
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
}

section.class .container .tit > h2 {
  text-align: left;
}

section.class .container .tit > h2:after {
  content: "😎";
  display: inline-block;
  margin-left: 15px;
  font-size: 4rem;
  animation: shake 1s infinite;
  transform-origin: 50% 100%;
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

section.class .container .tit > p {
  margin-top: 30px;
  width: 700px;
  font-size: 1.3rem;
  line-height: 1.7;
  text-align: left;
}

section.class .container .tit a.btn {
  position: absolute;
  right: 0;
  top: 150px;
}

section.class .container .cl_slide {
  position: relative;
  left: 0;
  width: calc(330px * 7 + 280px);
  height: 400px;
  justify-content: space-between;
}

section.class .container .cl_slide .cl_card {
  display: block;
  width: 330px;
  height: 300px;
  margin: 50px auto 0;
}

section.class .container .cl_slide .cl_card:hover .card_img {
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  animation: scale 0.5s forwards;
}

section.class .container .cl_slide .cl_card .card_img {
  width: 330px;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
  box-sizing: border-box;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

section.class .container .cl_slide .cl_card .card_body > h4 {
  color: #fff;
  font-size: 1.7rem;
  line-height: 1.7;
  margin-top: 20px;
}

section.class .container .cl_slide .cl_card .card_body .new::before {
  content: "NEW";
  display: inline-block;
  padding: 3px 15px;
  margin-right: 10px;
  font-size: 1.2rem;
  background-color: #00aebb;
  border-radius: 20px;
}

section.class .container .cl_slide .cl_card .card_body > p {
  display: inline-block;
  margin-top: 10px;
  color: #808080;
  font-size: 1.3rem;
  font-weight: 600;
}

section.sns {
  position: relative;
  height: 300px;
  background: linear-gradient(180deg, #c9187f 0%, #ffb300 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

section.sns .container {
  display: block;
}

section.sns .container > .sns_img {
  position: absolute;
  top: 0;
  width: 1080px;
  height: 300px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 70% center;
  background-size: contain;
  background-image: url(./../images/sns_cellphone.svg);
}

section.sns .container > h2 {
  margin-top: 50px;
  color: #fff;
  font-size: 5rem;
  text-align: left;
}

section.sns .container > p {
  margin-top: 25px;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}

section.contents {
  height: 800px;
  margin-top: 120px;
}

section.contents > h2 {
  margin-bottom: 80px;
}

section.contents .ct_container {
  display: grid;
  grid-template: repeat(3, auto)/repeat(3, 1fr);
  gap: 15px;
  width: 1080px;
  height: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

section.contents .ct_container .item {
  display: block;
  width: 100%;
  height: 200px;
  padding: 30px;
  background-color: #fff;
  box-sizing: border-box;
  transition: 0.5s;
}

section.contents .ct_container .item h4 {
  display: inline-block;
  color: #f9cf58;
  font-size: 1.3rem;
  line-height: 2;
  border-top: 2px solid #f9cf58;
  text-indent: -9999px;
}

section.contents .ct_container .item > h3 {
  margin-top: 10px;
  color: #fff;
  font-size: 3rem;
  text-indent: -9999px;
}

section.contents .ct_container .item:hover {
  transform: scale(0.95);
}

section.contents .ct_container .item:nth-of-type(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #10438f;
  background-image: url(./../images/content1.png);
  background-size: cover;
}

section.contents .ct_container .item:nth-of-type(2) {
  background-color: #292929;
  background-image: url(./../images/content2.png);
}

section.contents .ct_container .item:nth-of-type(3) {
  background-color: #292929;
  background-image: url(./../images/content3.png);
}

section.contents .ct_container .item:nth-of-type(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  height: 415px;
  background-color: #05857e;
  background-image: url(./../images/content6.png);
  background-size: cover;
  background-position: center center;
}

section.contents .ct_container .item:nth-of-type(5) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #721e1e;
  background-image: url(./../images/content5.png);
}

section.contents .ct_container .item:nth-of-type(6) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #292929;
  background-image: url(./../images/content7.png);
}

section.contents .ct_container .item:nth-of-type(7) {
  grid-column: 2 /3;
  grid-row: 2 / 3;
  background-color: #f9cf58;
  background-image: url(./../images/content4.png);
}

section.content_bar {
  padding: 100px 0;
}

section.content_bar .container {
  width: 1080px;
}

section.content_bar .container .flex, section.content_bar section.class .container .cl_slide, section.class section.content_bar .container .cl_slide, section.content_bar .container .container, section.content_bar .container footer .ft_container, footer section.content_bar .container .ft_container {
  flex-wrap: wrap;
  justify-content: center;
  width: 400px;
}

section.content_bar .container .flex h2, section.content_bar section.class .container .cl_slide h2, section.class section.content_bar .container .cl_slide h2, section.content_bar .container .container h2, section.content_bar .container footer .ft_container h2, footer section.content_bar .container .ft_container h2 {
  text-align: left;
}

section.content_bar .container .flex .card, section.content_bar section.class .container .cl_slide .card, section.class section.content_bar .container .cl_slide .card, section.content_bar .container .container .card, section.content_bar .container footer .ft_container .card, footer section.content_bar .container .ft_container .card {
  width: 150px;
  margin: 10px;
  color: #fff;
}

section.content_bar .container .flex .card > h4, section.content_bar section.class .container .cl_slide .card > h4, section.class section.content_bar .container .cl_slide .card > h4, section.content_bar .container .container .card > h4, section.content_bar .container footer .ft_container .card > h4, footer section.content_bar .container .ft_container .card > h4 {
  font-size: 1.5rem;
}

section.content_bar .container .flex .card > p, section.content_bar section.class .container .cl_slide .card > p, section.class section.content_bar .container .cl_slide .card > p, section.content_bar .container .container .card > p, section.content_bar .container footer .ft_container .card > p, footer section.content_bar .container .ft_container .card > p {
  color: #777;
  font-weight: 500;
  line-height: 2;
}

section.content_bar .container .flex .card > p:nth-of-type(1), section.content_bar section.class .container .cl_slide .card > p:nth-of-type(1), section.class section.content_bar .container .cl_slide .card > p:nth-of-type(1), section.content_bar .container .container .card > p:nth-of-type(1), section.content_bar .container footer .ft_container .card > p:nth-of-type(1), footer section.content_bar .container .ft_container .card > p:nth-of-type(1) {
  margin-top: 10px;
}

section.content_bar .container .work {
  justify-content: start;
}

section.content_bar .container .work .card h4 {
  position: relative;
  overflow: hidden;
  width: 130px;
  height: 40px;
  color: #f9cf58;
  line-height: 40px;
  transition: 0.5s 0.3s;
}

section.content_bar .container .work .card h4::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -100;
  width: 130px;
  height: 40px;
  background-image: url(./../images/제목붓터치.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translateX(-130px);
  transition: 0.5s;
}

section.content_bar .container .work .card:hover h4 {
  color: #222;
  text-indent: 13px;
}

section.content_bar .container .work .card:hover h4:before {
  transform: translateX(0);
}

section.content_bar .container .test > .card {
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 5px 5px;
}

section.content_bar .container .test > .card a {
  display: block;
  width: 130px;
  height: 130px;
  padding: 10px;
  border: 1px solid #f9cf58;
  border-radius: 10px;
  box-sizing: border-box;
  transition: 0.3s;
}

section.content_bar .container .test > .card a h4 {
  margin-top: 5px;
  color: #f9cf58;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}

section.content_bar .container .test > .card a h4::before {
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  margin: 0 auto 5px;
  background-repeat: no-repeat;
  background-size: contain;
}

section.content_bar .container .test > .card a:hover {
  background-color: #f9cf58;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

section.content_bar .container .test > .card a:hover h4 {
  color: #222;
  font-weight: 600;
}

section.content_bar .container .test > .card:nth-of-type(1) > a h4::before {
  background-image: url(./../images/사업제휴_c.svg);
}

section.content_bar .container .test > .card:nth-of-type(1) > a:hover h4::before {
  background-image: url(./../images/사업제휴_w.svg);
}

section.content_bar .container .test > .card:nth-of-type(2) > a h4::before {
  background-image: url(./../images/상담_c.svg);
}

section.content_bar .container .test > .card:nth-of-type(2) > a:hover h4::before {
  background-image: url(./../images/상담_w.svg);
}

section.content_bar .container .test > .card:nth-of-type(3) > a h4::before {
  background-image: url(./../images/테스트_c.svg);
}

section.content_bar .container .test > .card:nth-of-type(3) > a:hover h4::before {
  background-image: url(./../images/테스트_w.svg);
}

section.content_bar .container .test > .card:nth-of-type(4) > a h4::before {
  background-image: url(./../images/공지사항_c.svg);
}

section.content_bar .container .test > .card:nth-of-type(4) > a:hover h4::before {
  background-image: url(./../images/공지사항_w.svg);
}

section.content_bar .container .review .card {
  width: 300px;
}

section.content_bar .container .review .card > h4 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
}

footer {
  height: 230px;
  background-color: #3a3a3a;
}

footer h2.logo {
  width: 200px;
  height: 180px;
  margin-top: -10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./../images/logo_row_w.png);
}

footer .ft_container {
  width: 1080px;
  height: 230px;
  padding: 50px 0;
  margin: 0 auto;
  color: #fff;
  box-sizing: border-box;
}

footer .ft_container ul {
  justify-content: start;
}

footer .ft_container ul > li > a {
  display: block;
  height: 15px;
  padding-right: 20px;
  margin: 0 20px 20px 0;
  color: #b8b8b8;
  font-size: 1.2rem;
  font-weight: 600;
  border-right: 2px solid #b8b8b8;
}

footer .ft_container ul > li:last-of-type a {
  border-right: none;
}

footer .ft_container ul > li:hover a {
  color: #fff;
}

footer .ft_container address {
  color: #b8b8b8;
  font-size: 1.2rem;
  line-height: 2;
}

footer .ft_container span {
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid #b8b8b8;
  color: #b8b8b8;
  font-size: 1.2rem;
  line-height: 2;
}

footer .ft_container span:last-of-type {
  border-right: none;
}
