body {
  background-color: #333;
}

#wrap {
  display: grid;
  grid-template: repeat(5) / 1fr;
}

a.btn {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: 0;

  padding: 5px 40px;
  margin: 30px auto 0;

  color: #fff;
  text-align: center;
  line-height: 25px;
  font-weight: 600;

  background: linear-gradient(
    40deg,
    rgba(164, 65, 177, 1) 0%,
    rgba(0, 174, 187, 1) 100%
  );

  border-radius: 40px;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5);
}
span {
  position: absolute;
  z-index: 1;

  background: #000;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.bg {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.container {
  width: 1080px;
  margin: 0 auto;
}

h2 {
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.2;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0.2;
  }
}

header {
  position: fixed;
  z-index: 99999;
  width: 100vw;
  height: 70px;
  background-color: #fff;

  .hd_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1080px;
    height: 70px;
    margin: 0 auto;
    > h1.logo {
      a {
        display: block;
        width: 200px;
        height: 70px;
        text-align: center;
        text-indent: -9999px;
        line-height: 70px;
        background-position: center center;
        background-image: url(./../images/logo_row.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    div {
      display: flex;
      align-items: center;
      height: 70px;

      a {
        display: block;
        width: 50px;
        height: 50px;
        line-height: 50px;
      }
    }

    nav {
      width: 50px;
      height: 70px;
      > a.hamber {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin: 10px 0;

        &.on {
          div {
            background-color: transparent;
            &::before {
              transform: translateY(10px) rotate(45deg);
            }
            &::after {
              transform: translateY(-10px) rotate(-45deg);
            }
          }
        }

        > div {
          display: block;
          width: 65%;
          height: 3px;
          margin: 0 auto;
          background-color: #222;
          transition: 0.5s;

          &::before {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            margin-top: -10px;
            background-color: #222;
            transition: 0.5s;
          }

          &::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            margin-top: 17px;
            background-color: #222;
            transition: 0.5s;
          }
        }
      }

      > .gnb {
        position: absolute;
        right: -100vw;
        width: 250px;
        height: 350px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.7);

        li {
          &:nth-of-type(1) {
            display: flex;
            justify-content: right;

            > a.mypage {
              width: 60px;
              padding: 30px 0;
              color: #777;
              font-size: 1.2rem;
              text-align: right;
              border-bottom: none;

              &.mypage:hover {
                color: #333;
                font-weight: 600;
                border-bottom: none;
              }
            }
          }
          a {
            display: block;
            width: 100%;
            height: 5px;
            padding: 20px;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 0;
            border-bottom: 2px solid rgb(83, 83, 83);
            box-sizing: border-box;
          }

          &:hover {
            a {
              color: #692a81;
              font-weight: 600;
              border-bottom: 2px solid #692a81;
            }
          }

          .lnb {
            display: none;

            li {
              a {
                display: block;
                color: #222;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: 0;
                border-bottom: none;
                &:hover {
                  color: #692a81;
                  font-weight: 600;
                  // background-color: #f0f0f0;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.banner {
  width: 100vw;
  height: 600px;
  padding-top: 70px;
  background-color: #222;

  .container {
    width: 1080px;
    height: 500px;
    margin: 0 auto;
  }
}

section.class {
  .container {
    overflow: hidden;

    width: 1080px;
    height: 800px;
    margin: 0 auto;

    .tit {
      position: relative;
      padding-top: 100px;
      margin-bottom: 30px;
      color: #fff;
      text-align: center;

      > h2 {
        text-align: left;

        &:after {
          content: "😎";
          display: inline-block;

          margin-left: 15px;

          font-size: 4rem;

          animation: shake 1s infinite;
          transform-origin: 50% 100%;

          @keyframes shake {
            0% {
              transform: rotate(5deg);
            }
            50% {
              transform: rotate(-5deg);
            }
            100% {
              transform: rotate(5deg);
            }
          }
        }
      }

      > p {
        margin-top: 30px;
        width: 700px;
        font-size: 1.3rem;
        line-height: 1.7;
        text-align: left;
      }

      a.btn {
        position: absolute;
        right: 0;
        top: 150px;
      }
    }

    .cl_slide {
      width: calc(330px * 7 + 280px);
      height: 400px;
      justify-content: space-between;

      .cl_card {
        display: block;
        width: 330px;
        height: 300px;
        margin: 50px auto 0;
        &:hover {
          .card_img {
            border-radius: 10px;

            box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
          }
        }

        .card_img {
          width: 330px;
          height: 200px;
          border-radius: 10px;
          background-size: cover;
          box-sizing: border-box;
        }
        .card_body {
          > h4 {
            color: #fff;
            font-size: 1.7rem;
            line-height: 1.7;
            margin-top: 20px;
          }

          .new {
            &::before {
              content: "NEW";
              display: inline-block;
              padding: 3px 15px;
              margin-right: 10px;
              font-size: 1.2rem;
              background-color: #00aebb;
              border-radius: 20px;
            }
          }

          > p {
            display: inline-block;
            margin-top: 10px;

            color: #808080;
            font-size: 1.3rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}

section.sns {
  position: relative;

  height: 300px;
  background-color: rgb(250, 210, 233);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  .container {
    display: block;

    > .sns_img {
      position: absolute;
      top: 0;
      width: 1080px;
      height: 300px;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: 800px center;
      background-size: 23%;
      background-image: url(./../images/sns_cellphone.svg);
    }
    > h2 {
      margin-top: 70px;
      color: #222;
      font-size: 4rem;
      text-align: left;
    }
    > p {
      margin-top: 25px;
      color: #222;
      font-size: 1.3rem;
      line-height: 1.5;
    }
  }
}

section.contents {
  height: 800px;
  margin-top: 120px;

  .ct_container {
    width: 1080px;
    height: 500px;
    margin: 0 auto;
    box-sizing: border-box;

    .flex {
      flex-wrap: wrap;
      margin-top: 30px;

      .card {
        width: 330px;
        height: 200px;
        margin-top: 50px;
        border: 1px solid #000;
        border-radius: 10px;
      }
    }
  }
}

section.content_bar {
  height: 500px;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  .container {
    width: 1080px;

    .flex {
      flex-wrap: wrap;
      justify-content: center;

      width: 400px;

      h2 {
        text-align: left;
      }

      .card {
        width: 150px;
        margin: 10px;
        color: #fff;
        > h4 {
          font-size: 1.5rem;
        }
        > p {
          color: #777;
          font-weight: 500;
          line-height: 2;

          &:nth-of-type(1) {
            margin-top: 20px;
          }
        }
      }
    }

    .work {
      justify-content: start;
    }

    .test > .card {
      align-items: center;
      width: 130px;
      height: 130px;
      padding: 15px;
      margin: 10px 10px;
      border: 1px solid #9b20cc;
      border-radius: 10px;
      box-sizing: border-box;
      transition: 0.3s;

      a {
        display: block;

        h4 {
          margin-top: 80px;
          color: #9b20cc;
          text-align: center;
          font-weight: 600;
          font-size: 1.3rem;
        }

        &:hover {
          background-color: #9b20cc;
          border: none;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

          h4 {
            color: #fff;
            font-weight: 600;
          }
        }
      }
    }

    .review {
      .card {
        width: 300px;
        > h4 {
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

footer {
  height: 300px;
  background-color: #3a3a3a;

  .ft_container {
    width: 1080px;
    height: 300px;
    padding: 50px 0;
    margin: 0 auto;

    box-sizing: border-box;
  }
}
